*{
    box-sizing: border-box;
}

body {
  background-color: #FFF;
  margin: 0px;
  padding: 0px 60px;
}

.menu {
    background-color: #272727;
    height: 100px;
    margin: 0;
      padding: 0 10px;
    
}

.imagenes {
    width: 100%;
    margin-top: 0px;
    height: 600px;
}

.menu {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
    color: aliceblue;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: skyblue;
  left: 15%;
}

.ic {
    font-family: "Happy Monkey", "bold";
    color: white;
    font-size: 18px;
    text-align: center;
}
